   .container1{
    background: url("https://ph-files.imgix.net/69f4335e-ac5a-47c6-9250-0a59525a1ba7.jpeg?auto=format&fit=crop&frame=1&h=512&w=1024");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;


  }
  .content1{
    padding-top : 100px;
    /* margin-top : 150px; */
    /* margin-left : 450px; */

  }
  .modelname1,.modelname2,.modelname3{
    font-size : 50px;
        
    /* padding-top : 90px; */
    font-weight: lighter;
    padding-bottom : 5px;
    /* font-family: 'Ubuntu', sans-serif;; */
    margin-top : 0px;
    margin-bottom: 2px; 
    margin-left : 450px;

  }
  .descrip1{
    font-size : 18px;
    font-weight : lighter;
    color : #393C41;
    margin-left : 420px;

  }
  .container2{
    background : url("https://tesla-cdn.thron.com/delivery/public/image/tesla/538ac149-d103-4834-9d38-641d8ae447ef/bvlatuR/std/4096x2560/Homepage-Model-S-Desktop-LHD");
    background-repeat : no-repeat;
    background-size : cover;
    width : 100%;
    height : 100vh;
  }
  .container3{
    background : url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD");
    background-repeat : no-repeat;
    background-size : cover;
    width : 100%;
    height : 100vh;
  }
  .container4{
    background : url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D");
    background-repeat : no-repeat;
    background-size : cover;
    width : 100%;
    height : 100vh; }
    .buttons{
        padding-top : 330px;
        display : flex;
        /* flex-direction : row;
        justify-content : center;
        margin : auto; */
        /* position : fixed; */
        flex-direction : row;
        justify-content : center;
        margin : auto;
        margin-left : 350px;

      }

    button[type = "order now"]{
        height : 40px;
        width : 250px;
        color : white;
        font-family: 'Ubuntu', sans-serif;
        background-color: #393C41;
        border-style: none;
        border-radius : 5px;
        margin-right : 5px;
        font-size : 15px;
        padding-right : 40px;

    }
    button[type = "Learn More"]{
    height : 40px;
    width : 250px;
    font-family: 'Ubuntu', sans-serif;
    color : #393C41;
    font-size : 15px;
    border-radius : 5px;
    border : none;
    background-color: #F4F4F4A6;
    margin-left : 5px;}
    .container5{
        background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/4a41ec0e-7316-46a8-8ce9-e2f195ba644d/bvlatuR/std/2880x1800/Homepage-SolarRoof-Desktop-Global?quality=auto-medium&format=auto");
        background-repeat : no-repeat;
        background-size : cover; 
        width : 100%; 
         height : 100vh;
    }
    .container6{
    background : url("https://cdn.motor1.com/images/mgl/VPpbG/s3/tesla-j1772-gen-2-wall-connector.jpg");
        background-repeat : no-repeat;
        background-size : cover; 
          width : 100%;
         height : 100vh;
    }
    button[type = "Shop Now"]{
        height : 40px;
        width : 200px;
        font-family: 'Ubuntu', sans-serif;
        color : whitesmoke;
        font-size : 15px;
        border-radius : 5px;
        border : none;
        background-color: #393C41;
        margin-left : 5px;}
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            padding-top : 100px;
          }
          .Modelname{
            font-size : 50px;
            font-weight: lighter;
            padding-bottom : 5px;
            margin-top : 0px;
            margin-bottom: 2px; 
    
          }
          .descrip{
            /* font-family: 'Ubuntu', sans-serif; */
            font-size : 18px;
            font-weight : lighter;
            color : #393C41;
            /* margin-bottom: 330px; */
          }
          .descrip2{
            margin-left : 
          }
    
    

    
